body{
    margin: auto;
    width: 50vw;
}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
    font-size: 28px;
}

#titulo-destinos{
    background-color: #ecf0f1;
    color: #2C3E50;
}


.subtitulo-destinos{
    background-color: #e74c3e44;
    color: #E74C3E;
}

#titulo-maravilhas, .subtitulo-maravilhas{
    background-color: #27ae5f42;
    color: #27AE60;
}

#titulo-cidades, .subtitulo-cidades{
    background-color: #f39d124f;
    color: #F39C12;
}

#titulo-experiencias, .subtitulo-experiencias{
    background-color: #8d44ad3b; 
    color: #8E44AD;
}

.paragrafo{
    font-size: 1em;
    text-align: justify;
    line-height: 1.4;
    color: #34495E;
}






